/* Style pour l'administration */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: center;
    margin: 10px;
}

ul li a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #45a049;
}
